{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>login page</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="{% static 'fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'fonts/iconic/css/material-design-iconic-font.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/util.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">

</head>
<body>
	
	<div class="limiter">
		<div class="container-login100" style="background-image: url('{% static 'images/bg-01.jpg' %}');">
			<div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-54">
				
                    
                    {% block content %}
                    {% endblock %}

					
				</form>
			</div>
		</div>
	</div>
	

	<div id="dropDownSelect1"></div>
	


</body>
</html>