{% extends 'navbar.html' %}

{% block content %}
<div class="container">
    <div id="logo">
        <main>
            <section class="hero text-light text-center">
                <div class="container-sm">
                    <div class="hero-inner">
                        <h1 class="hero-title h2-mobile mt-0 is-revealing">Django project for Mysql DB</h1>
                        <p class="hero-paragraph is-revealing">Welcome to Django task for enabling signup and login for different types of users. On login redirect users to their respective dashboards. And also Allow Doctor to Write Medical Blogs</p>
                        
                    </div>
                </div>
            </section>
        </main>
        <div class="tagline">Read The Best Of Medical Blogs Here</div>


    </div>
    <div id="line"></div>
</div>
{% endblock %}